@using etherapist.Utility
@model List<Session>

@{
    String status = Context.Request.Query["status"];
    String processing = "text-primary";
    String pending = "text-primary";
    String completed = "text-primary";
    String all = "text-primary";

    switch (status) {
        case "processing":
            processing = "active text-white";
            break;
        case "pending":
            pending = "active text-white";
            break;
        case "completed":
            completed = "active text-white";
            break;
        default:
            all = "active text-white";
            break;
    }
}

<div class="container-fluid d-flex flex-column px-0 py-0 bg-grey" style="margin-left:25%">
    <!-- Main -->
    <div class="bg-grey mt-5" style="width:75%;padding:4rem 5rem 5rem 8rem;">
        <div style="width:100%;">
            <!-- Title -->
            <div class="d-flex justify-content-between mb-3">
                <div class="link">SESSION HISTORY</div>
                <div>
                    <ul class="list-group list-group-horizontal-sm">
                        <a style="text-decoration:none;font-size:12px;" asp-controller="Sessions" asp-action="Index" asp-route-status="processing">
                            <li class="list-group-item @processing">Awaiting Approval</li>
                        </a>
                        <a style="text-decoration:none;font-size:12px;" asp-controller="Sessions" asp-action="Index" asp-route-status="pending">
                            <li class="list-group-item @pending">Pending</li>
                        </a>
                        <a style="text-decoration:none;font-size:12px;" asp-controller="Sessions" asp-action="Index" asp-route-status="completed">
                            <li class="list-group-item @completed">Completed</li>
                        </a>
                        <a style="text-decoration:none;font-size:12px;" asp-controller="Sessions" asp-action="Index" asp-route-status="all">
                            <li class="list-group-item @all">All</li>
                        </a>
                    </ul>
                </div>
            </div>
            <!-- Sessions -->
            <div>
                @if (Model.Count != 0) {
                    @foreach(Session session in Model) {
                        <a class="c-listbar mb-3" asp-area="Therapist" asp-controller="Sessions" asp-action="Details" 
                            asp-route-sessionId="@session.Id" style="text-decoration:none;">
                            <div class="c-listbar-left">
                                <div class="c-listbar-progress">
                                    @if (session.Status < SD.session_completed) {                                    
                                        <div class="spinner-border c-listbar-progress-icon" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    }
                                    else {
                                        <div class="display-5"><i class="bi bi-check c-listbar-progress-icon"></i></div>
                                    }
                                </div>
                                <div class="c-listbar-label">
                                    <div class="c-listbar-topic">@session.MentalCondition</div>
                                    <div class="c-listbar-sub">@session.Patient.FirstName @session.Patient.LastName</div>
                                </div>
                            </div>
                            <div class="c-listbar-right">
                                @if (session.Status == SD.session_awaitingTherapistApproval) {
                                    <div class="c-listbar-id">WAITING FOR APPROVAL</div>
                                }
                                else if (session.Status == SD.session_completed) {
                                    <div class="c-listbar-id">PENDING</div>
                                }
                                else {
                                    <div class="c-listbar-id">COMPLETED</div>
                                }
                                <div class="c-listbar-time">@session.ScheduledTime</div>
                            </div>
                        </a>
                    }
                }
                else {
                    <div style="min-height:50vh;width:100%;color:#707070" class="d-flex align-items-center justify-content-center">
                        When a session is created, it'll be shown here
                    </div>
                }
            </div>
        </div>
    </div>
</div>